.button{
    margin-top: 8px;
}
.button{
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8em;
    // margin-top: 8px;
    font-weight: bold;
    width: 150px;
    animation: opacityAnimation 300ms ease-in-out;

    @media(max-width: 649px){
      padding: 6px;
      font-size: 0.7em;
  }

    @keyframes opacityAnimation { 
        0% {
          opacity: 0;
        }
      
        100% {
          opacity: 1;
        }
      }
 
}

.addButton{
    border: 1px solid grey;
    color: rgb(116, 116, 116);
    border: 1px solid grey;
    
}

.removeButton{
    border: none;
    background-color: #D20200;
    color: white;
    // border: 1px solid white;
}
