.list{
    position: relative;
    z-index: 999;
    display: flex;
    flex: 1;
    min-height: 50px;
    width: 350px;
    flex-direction: column; 
    margin-left: 20px;
    margin-top: 20px;

   
    
    .topList{
        background-color: #20252B;
        padding: 8px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

    

        h3{
            color: white;
            font-size: 0.8em;
            margin-left: 10px;
            font-weight: 500;
        }
    }

    .listContainer{
        background: white;
        display: flex;
        flex: 1;
        color: black;
        min-height: 70px;
        max-height: 244px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        flex-direction: column;
    }

    .scroll{
        overflow-y: scroll;
    }

    .selected{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #F5F6FA;
        align-items: flex-start;
        padding: 15px;
        border-top: 1px solid rgba(128, 128, 128, 0.363);
        cursor: pointer;
        transition: 150ms;

        // &:hover{
        //     background-color: #e2e2e2;
        //     transition: 300ms ease-in
        // }

    
        

       .textRow{
        //    cursor: pointer;
           display: flex;

           p{
               color: #20252B;
           }

        .fa-solid{
            color: green;
            margin-right: 5px;
        }
    }
        p{
            font-size: 0.8em;
            font-weight: bold;
            color: #606E7F;
        }

        h4{
            color: rgb(116, 116, 116);
            font-weight: 400;
            font-size: 0.7rem;
        }
    }
}

    
    .section{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 15px;
        border-top: 1px solid rgba(128, 128, 128, 0.363);
        cursor: pointer;
        transition: 150ms;

        &:hover{
            background-color: #F5F6FA;
            transition: 300ms ease-in
        }

    
        

       .textRow{
        //    cursor: pointer;
           display: flex;

           p{
               color: #20252B;
           }

        .fa-solid{
            color: green;
            margin-right: 5px;
        }
    }
        p{
            font-size: 0.8em;
            font-weight: bold;
            color: #606E7F;
        }

        h4{
            color: rgb(116, 116, 116);
            font-weight: 400;
            font-size: 0.7rem;
        }
    }
