.buttonsWrapper{
    position: absolute;
    z-index: 1200;
    display: flex;

    // height: 130px;
    flex: 1;
    // width: 150px;
    flex-direction: column; 
    right: 0%;
    margin-right: 10px;
    // margin-bottom: 10px;
    bottom: 3%;
    
    transition: 0.5s;
    // border: 1px solid red;
 
}

.transition1{
    position: absolute;
    z-index: 1200;
    display: flex;

//    height: 130px;
   flex: 1;
   // width: 150px;
   flex-direction: column; 
   right: 0%;
   margin-right: 10px;
//    margin-bottom: 10px;
   bottom: 4%;
   
   transition: 0.5s;
   // border: 1px solid red;
    



}

.transition2{
    position: absolute;
    z-index: 1200;
    display: flex;

  //    height: 130px;
  flex: 1;
  // width: 150px;
  flex-direction: column; 
  right: 0%;
  margin-right: 10px;
//    margin-bottom: 10px;
  bottom: 4%;
  
  transition: 0.5s;
  // border: 1px solid red;
   

}

